{
  "name": "{{.Name}}",
  "description": "{{.Description}}",
  "version": "{{.Version}}",
  "author": {
    "name": "{{.Author.Name}}",
    "email": "{{.Author.Email}}"
  },
  "license": "{{.License}}"
}
